* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
#iget{
  padding:10px;
  text-align:center;
  margin:100px 0 0 0;
}
#i376{
  margin-bottom:0cm;
  line-height:1px;
  background:transparent;
}
#iamy{
  font-size:40pt;
}
#iujg{
  margin-bottom:0cm;
  line-height:1px;
  background:transparent;
}
#iwkr{
  font-size:14pt;
}
#idmhl{
  margin-bottom:0cm;
  line-height:1px;
  background:transparent;
}
#igo5i{
  margin-bottom:0cm;
  line-height:1px;
  background:transparent;
}
#i6k6t{
  margin-bottom:0cm;
  line-height:1px;
  background:transparent;
}
#imbtl{
  color:rgb(0, 0, 128);
}
#inp8a-2{
  margin-bottom:0cm;
  line-height:1px;
  background:transparent;
}